@model IEnumerable<Movie.Models.Film>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zanrovi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanrovi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FilmId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FilmId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FilmId })
            </td>
        </tr>
    }

</table